[mysqld_multi]
mysqld     = /usr/local/mysql/bin/mysqld_safe
mysqladmin = /usr/local/mysql/bin/mysqladmin
#user       = mysql
#password   = my_password

[mysqld1]
socket     = /data/mysql1/mysql1.sock
port       = 3307
pid-file   = /data/mysql1/mysql1.pid
datadir    = /data/mysql1/
#language   = /usr/local/mysql/share/mysql/english
user       = mysql

skip-character-set-client-handshake
init-connect='SET NAMES utf8'

query_cache_size=32M
thread_concurrency=16

skip-name-resolve
max_connections = 3000
#key_buffer = 16M
key_buffer = 512M
max_allowed_packet = 64M
table_cache = 512
sort_buffer_size = 8M
net_buffer_length = 8K
read_buffer_size = 2M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 8M
log-bin=/data/mysql1/mysql-bin
binlog_format=mixed
#auto_increment_offset = 2
server-id       = 11
wait-timeout = 300
slave-skip-errors = 1062
log=/tmp/row.log


innodb_data_home_dir = /data/mysql1
innodb_log_group_home_dir = /data/mysql1
innodb_data_file_path = ibdata1:100M:autoextend
innodb_buffer_pool_size = 1000M
innodb_additional_mem_pool_size=20M
innodb_log_file_size = 128M
innodb_log_buffer_size = 4M
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency=1000
innodb_lock_wait_timeout=100
innodb_log_files_in_group=2
innodb_file_per_table=1
innodb_open_files=800
long_query_time=1
slow-query-log-file=/tmp/slowquery1.log




[mysqld2]
socket     = /data/mysql2/mysql2.sock
port       = 3308
pid-file   = /data/mysql2/mysql2.pid
datadir    = /data/mysql2
user       = mysql


replicate-do-db = USER_ALS_INFO_ANDROID
replicate-do-db = GLOB_USER
replicate-do-db = GLOB_CONFIG
replicate-do-db = USER_ALS_INFO



query_cache_size=32M
thread_concurrency=16

skip-character-set-client-handshake
init-connect='SET NAMES utf8'
#character-set-server = utf8


skip-name-resolve
max_connections = 3000
#key_buffer = 16M
key_buffer = 512M
max_allowed_packet = 64M
table_cache = 512
sort_buffer_size = 8M
net_buffer_length = 8K
read_buffer_size = 2M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 8M
log-bin=/data/mysql2/mysql-bin
binlog_format=mixed
#auto_increment_offset = 2
server-id       = 22
wait-timeout = 300
slave-skip-errors = 1032,1062,126,1114,1146,1048,1396

innodb_data_home_dir = /data/mysql2
innodb_log_group_home_dir = /data/mysql2
innodb_data_file_path = ibdata1:100M:autoextend
innodb_buffer_pool_size = 512M
innodb_additional_mem_pool_size=20M
innodb_log_file_size = 128M
innodb_log_buffer_size = 4M
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency=1000
innodb_lock_wait_timeout=100
innodb_log_files_in_group=2
innodb_file_per_table=1
innodb_open_files=800
long_query_time=1
slow-query-log-file=/tmp/slowquery2.log
